body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  background-color: #388e3c;
  padding: 20px;
}

header .logo-section {
  display: flex;
  align-items: ;
}

header .logo-section img {
  height: 50px;
}

header nav {
  display: flex;
  align-items: left;
}

header nav a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 20px;
}

.botones {
  background-color: #8EC63F;
  justify-content: right;
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
}


main {
  padding: 20px;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.contact-info {
  width: 55%;
}

.contact-info h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  display: flex;
  align-items: center; /* Centra la imagen y el texto verticalmente */
  padding: 10px 20px;   
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.email-btn {
  background-color: #388e3c; /* Color de fondo para el botón de correo */
  color: white;

  
}

.whatsapp-btn {
  background-color: #388e3c; /* Color de fondo para el botón de WhatsApp */
  color: white;
}

button img.icono {
  width: 20px; /* Ajusta el tamaño de la imagen */
  height: 20px; /* Ajusta el tamaño de la imagen */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

button:hover {
  opacity: 0.8; /* Efecto hover en los botones */
}

.contact-buttons button {
  background-color: #388e3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.contact-buttons button i {
  margin-right: 10px;
}

.contact-buttons .whatsapp-btn {
  background-color: #388e3c;
}

.contact-image img {
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #000;
  color: white;
  padding: 20px;
  text-align: center;
}

footer img {
  height: 50px;
}

footer p {
  font-size: 1.2rem;
  margin: 10px 0;
}

footer .social a {
  margin: 0 10px;
  color: white;
  font-size: 1.5rem;
}

.footer-links {
  margin-top: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}