/* GENERAL */
*, ::after, ::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  border-style: none;
}

/* WRAPPER */
.hm-wrapper {
  position: relative;
  min-height: 100%;
}

/* HEADER PRINCIPAL */
.hm-header {
  position: fixed;
  height: auto;
  background-color: #8EC63F;
  padding: 20px 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  top: 0;
  width: 100%;
  z-index: 1000;
}

.hm-header .container {
  height: 100%;
}

/* HEADER MENU */
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
  flex-grow: 1; /* El logo ocupa espacio disponible en el lado izquierdo */
}

.header-logo img {
  height: 80px; /* Tamaño del logo */
}

.hm-menu {
  display: flex;
  justify-content: center; /* Centrar el menú */
  flex-grow: 2; /* El menú ocupa espacio central entre el logo y los botones */
}

.hm-menu ul {
  display: flex;
  justify-content: center;
  gap: 30px; /* Espacio entre los enlaces */
}

.hm-menu ul li a {
  color: white;
  font-size: 1.2rem;
  display: inline-block;
  transition: color 0.3s ease;
}

.hm-menu ul li a:hover {
  color: #388e3c;
  text-decoration: underline;
}

/* ICONO MENU MOVIL */
.icon-menu {
  display: none;
}

/* CONTENEDOR BOTONES */
.botones-container {
  display: flex;
  justify-content: flex-end; /* Alinea los botones a la derecha */
  align-items: center;
  margin-left: auto; /* Empuja los botones hacia el borde derecho */
  flex-grow: 0; /* No permite que los botones ocupen espacio extra */
}

.botones {
  display: flex;
  gap: 10px; /* Mayor espacio entre los botones */
  margin-left: auto; /* Empuja los botones hacia el borde derecho */
}

.boton {
  padding: 10px 20px;
  text-align: center;
  background-color: #0C4F30;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 10px; /* Espacio entre botones */
}

.boton:first-child {
  margin-left: 0; /* Elimina el margen del primer botón */
}


.boton:hover {
  background-color: #6fa02e;
}

/* VERSION MOVIL */
@media screen and (max-width: 900px) {
  /* Ocultar menú de escritorio en móviles */
  .hm-menu ul {
    display: none;
  }

  /* Mantener el logo visible */
  .header-logo img {
    max-height: 50px; /* Ajustar el tamaño del logo en móvil */
  }

  /* Ocultar los botones de "Iniciar Sesión" y "Registrarse" */
  .botones-container {
    display: none; /* Oculta los botones en móvil */
  }

  /* Mostrar icono del menú móvil */
  .icon-menu {
    display: block;
    margin-left: auto; /* Alinea el icono del menú a la derecha */
    margin-right: 20px; /* Ajusta el espacio del lado derecho */
  }

  .icon-menu button {
    background: transparent;
    border: none;
    font-size: 22px;
    color: black;
  }

  /* HEADER MOVIL */
  .header-menu-movil {
    background-color: #5a8514;
    position: fixed;
    padding: 40px;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    transition: all .3s ease;
    transform: translate(-100%);
  }

  .header-menu-movil.active {
    transform: translate(0%);
  }

  .header-menu-movil .cerrar-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    border: none;
    background: #5d82219f;
    font-size: 18px;
    color: black;
  }

  .header-menu-movil ul li {
    margin: 10px 0;
  }

  .header-menu-movil ul li a {
    display: inline-block;
    color: #fff;
  }
}

/* ANIMACIÓN HEADER */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-menu-movil.active {
  animation: fadeIn 0.3s ease-in;
}

.hm-logo {
  display: flex; /* Esto alineará los elementos (logo y texto) en una fila */
  align-items: center; /* Alinea verticalmente el texto con el logo */
}

.text-logo h1 {
  font-size: 1.5rem;
  color: white;
  margin-left: 10px; /* Espacio entre el logo y el texto */
}


