/* Header fijo */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8EC63F;
    padding: 20px 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    z-index: 1000;
    flex-wrap: wrap; /* Permitir que los elementos se ajusten en pantallas pequeñas */
  }
  
  .logo-section {
    display: flex;
    align-items: center;
  }
  
  .logo-section img {
    height: 80px;
    align-items: center;
  }
  
  .logo-section p {
    text-align: center;
    color: #f0f0f0;
    font-size: 1.5rem;
  }
  
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar los enlaces si el espacio es pequeño */
    align-items: center;
  }
  
  .nav a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 30px;
    transition: color 0.3s ease;
  }
  
  .nav a:hover {
    color: #388e3c;
    text-decoration: underline;
  }
  
  .botones {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; /* Permitir que los botones se ajusten en pantallas pequeñas */
  }
  
  .boton {
    padding: 10px 20px;
    text-align: center;
    background-color: #0C4F30;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .boton:hover {
    background-color: #6fa02e;
  }
  