@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .nav {
    margin-top: 10px;
  }
}

/* Global Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8EC63F;
  padding: 20px 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 97%;
  z-index: 100;
  top: 0;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-section img {
  height: 80px;
  align-items: center;
}

.logo-section p {
  text-align: center;
  color: #f0f0f0;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  align-items: left;
}

.nav a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 30px;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #388e3c;
  text-decoration: underline;
}

.botones {
  display: flex;
  gap: 10px;
}

.boton {
  padding: 10px 20px;
  text-align: center;
  background-color: #0C4F30;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #6fa02e;
}

/* Main Content */
main {
  padding: 150px 20px 40px; /* Espaciado ajustado para evitar el header fijo */
  text-align: center;
}

/* Plan Styles */
.plan {
  position: relative;
  margin-bottom: 40px;
  border-radius: 15px;
  overflow: hidden; /* Para que las esquinas de la imagen se adapten */
}

.background-image img {
  width: 100%;
  height: auto;
}

.plan-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.plan-header {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.plan-header.free {
  background-color: rgba(124, 192, 75, 0.9);
}

.plan-header.premium {
  background-color: rgba(76, 175, 80, 0.9);
}

.plan h2 {
  margin: 0;
  font-size: 2rem;
}

.plan ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.plan ul li {
  margin-bottom: 10px;
}

.cta-button {
  background-color: #388e3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none; /* Para que sea un enlace funcional */
  display: inline-block; /* Para que se comporte como un botón */
  align-self: center; /* Centrado debajo del texto */
}

.cta-button:hover {
  background-color: #6fa02e;
}

/* Línea divisoria */
.linea-blanca {
  border-top: 3px solid #fff;
  margin: 20px 0;
}

/* Footer */
footer {
  background-color: #000;
  color: white;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

footer img {
  height: 70px;
  margin-bottom: 10px;
}

footer p {
  font-size: 1.3rem;
  margin: 10px 0;
  color: white;
}

/* Líneas blancas */
.linea-blanca {
  border-top: 5px solid #fff;
  margin: 20px auto;
  width: 30%;
  align-items: center;
}

footer .social {
  margin: 20px 0;
  vertical-align: middle;
}

footer .social a {
  display: inline-block;
  margin: 0 10px;
}

footer .social img {
  height: 30px;
  vertical-align: 0;
}

/* Links del footer */
.footer-links {
  margin-top: 20px;
}

.footer-links a {
  display: inline-block;
  margin: 0 10px;
  color: #f0f0f0;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-content, .footer-links {
  margin: 10px 0;
}

.footer-content {
  margin-bottom: 10px;
}

.footer-links {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .plan-content {
    padding: 20px;
  }

  .plan h2 {
    font-size: 1.5rem;
  }

  .plan ul {
    margin: 15px 0;
  }

  .cta-button {
    align-self: center; /* Centra el botón en dispositivos móviles */
  }
}

