/* Global Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7bc04b;
  padding: 20px;
}

header .logo-section {
  display: flex;
  align-items: center;
}

header .logo-section img {
  height: 50px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 20px;
}

.register-btn {
  background-color: #4caf50;
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
}

.hero-section {
  background-image: url('hero-bg.jpg');
  background-size: cover;
  padding: 50px;
  color: white;
  text-align: center;
}

.hero-section h1 {
  font-size: 2.5rem;
}

.hero-section p {
  font-size: 1.2rem;
  margin-top: 10px;
}

main {
  padding: 20px;
}

.service {
  margin-bottom: 40px;
}

.service h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.service-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.service-content p {
  font-size: 1.2rem;
  width: 60%;
  text-align: left;
}

.service-content img {
  width: 35%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cta-button {
  text-align: center;
  margin: 40px 0;
}

.cta-button button {
  background-color: #4caf50;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #388e3c;
  color: #f0f0f0;
  text-align: center;
  border-radius: 5px;

}

.button-link:hover {
  background-color: #8EC63F;
}



footer {
  background-color: #000;
  color: white;
  padding: 20px;
  text-align: center;
}

footer img {
  height: 50px;
}

footer p {
  font-size: 1.2rem;
  margin: 10px 0;
}

footer .social a {
  margin: 0 10px;
  color: white;
  font-size: 1.5rem;
}

.footer-links {
  margin-top: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}