@media (max-width:768px) {
  header{
    flex-direction: column;
    align-items: center;
  }
  .nav {
    margin-top:10px ;
  }
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #388e3c;
  padding: 20px;
}

.botones1, .botones2 {
  padding: 10px;
  text-align: right;
  background-color: #8EC63F;
  justify-content: right;
  padding: 10px 15px;
  border-radius: 20px;
  color: white;

}

header .logo-section {
  display: flex;
  align-items: center;
}

header .logo-section img {
  height: 50px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 20px;
}

.register-btn {
  background-color: #4caf50;
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
}

.hero-section {
  background-image: url('hero-bg.jpg');
  background-size: cover;
  padding: 50px;
  color: white;
  text-align: center;
}

.hero-section h1 {
  font-size: 2.5rem;
}

.hero-section p {
  font-size: 1.2rem;
  margin-top: 10px;
}

main {
  padding: 20px;
}

.service {
  margin-bottom: 40px;
}

.service h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;

}

.service-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.service-content p {
  font-size: 1.2rem;
  width: 60%;
  text-align: left;
}

.service-content img {
  width: 35%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cta-button {
  text-align: center;
  margin: 40px 0;
}

.cta-button button {
  background-color: #4caf50;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #388e3c;
  color: #f0f0f0;
  text-align: center;
  border-radius: 5px;

}

.button-link:hover {
  background-color: #8EC63F;
}



footer {
  background-color: #000;
  color: white; /* Aseguramos que el texto sea visible sobre el fondo oscuro */
  padding: 20px;
  text-align: center;
}

footer img {
  height: 50px;
  margin-bottom: 10px; /* Añadimos un pequeño margen para separar la imagen del texto */
}

footer p {
  font-size: 1.2rem;
  margin: 10px 0;
}

footer .social {
  margin: 20px 0; /* Añadimos espacio alrededor de los íconos de redes sociales */
}

footer .social a {
  margin: 0 10px;
  color: white;
  font-size: 1.5rem;
  display: inline-block; /* Esto asegura que el enlace envuelva correctamente el ícono y la imagen */
  vertical-align: middle; /* Alinea verticalmente el ícono con la imagen */
}

footer .social img {
  height: 30px; /* Ajusta el tamaño de los íconos de redes sociales */
  vertical-align: middle; /* Alinea los íconos con el texto */
}

.footer-links {
  margin-top: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.2rem; /* Ajustamos el tamaño de los enlaces */
}

.footer-links a:hover {
  text-decoration: underline; /* Añadimos un efecto hover para mejorar la interacción */
}
