.dalle-2024-08-27-135003-a {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 21px;
    top: 8px;
    transform: scale(1.053);
  }
  .wrapper-dalle-2024-08-27-135 {
    width: 1870px;
    height: 304px;
    position: absolute;
    margin: 0 !important;
    bottom: 970px;
    left: -397px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  .logo-background {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 4px 4px rgba(142, 198, 63, 0.25);
    background-color: rgba(142 198 63);
  }
  .imagen-de-whatsapp-2024-08-09 {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .vitalik {
    text-decoration: none;
    align-self: stretch;
    position: relative;
    font-weight: 700;
    color: inherit;
    white-space: nowrap;
  }
  .imagen-de-whatsapp-2024-08-09-parent {
    align-self: stretch;
    width: 112px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 4.8px;
    box-sizing: border-box;
    gap: 8.7px;
    cursor: pointer;
    z-index: 1;
  }
  .servicios {
    text-decoration: none;
    align-self: stretch;
    position: relative;
    color: inherit;
    display: inline-block;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 127px;
    cursor: pointer;
    z-index: 1;
  }
  .login,
  .services {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .services {
    flex-direction: column;
    padding: 41px 0 0;
    font-size: var(--font-size-4xl);
    font-family: var(--font-roboto-mono);
  }
  .login {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-xl);
  }
  .contacto1 {
    text-decoration: none;
    flex: 1;
    position: relative;
    color: inherit;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .contacto {
    position: absolute;
    top: 0;
    left: 133px;
    width: 113px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    z-index: 1;
  }
  .contacto3 {
    text-decoration: none;
    flex: 1;
    position: relative;
    color: inherit;
    display: inline-block;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 113px;
  }
  .contacto2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 113px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    z-index: 1;
  }
  .contact-numbers {
    align-self: stretch;
    height: 30px;
    position: relative;
  }
  .contact,
  .login-parent {
    display: flex;
    justify-content: flex-start;
  }
  .contact {
    height: 70px;
    width: 246px;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--font-size-4xl);
    font-family: var(--font-roboto-mono);
  }
  .login-parent {
    align-self: stretch;
    width: 546px;
    flex-direction: row;
    align-items: flex-end;
    gap: 41px;
    max-width: 100%;
  }
  .iniciar-sesin2 {
    text-decoration: none;
    position: relative;
    color: inherit;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
  }
  .iniciar-sesin1 {
    flex-direction: row;
    padding: 6px var(--padding-12xs);
  }
  .iniciar-sesin,
  .iniciar-sesin1,
  .login-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .iniciar-sesin {
    flex-direction: row;
    z-index: 1;
  }
  .login-container {
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
  }
  .register-background {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 4px 21.6px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: #0c4f30;
  }
  .registrarse {
    text-decoration: none;
    flex: 1;
    position: relative;
    color: inherit;
    white-space: nowrap;
    z-index: 1;
  }
  .register-background-parent,
  .register-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .register-background-parent {
    flex: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 4.4px var(--padding-10xs) var(--padding-10xs-6);
    position: relative;
    z-index: 1;
  }
  .register-button {
    width: 227px;
    padding: 0 5px;
    box-sizing: border-box;
  }
  .descubre-tu-mejor {
    align-self: stretch;
    height: 18px;
    position: relative;
    font-size: 15px;
    display: inline-block;
    font-weight: 800;
    font-family: var(--font-roboto);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .auth-buttons,
  .register-button-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .register-button-parent {
    flex: 1;
    flex-direction: column;
    gap: 8px;
    font-size: var(--font-size-6xl);
  }
  .auth-buttons {
    align-self: stretch;
    flex-direction: row;
    gap: 15px;
  }
  .auth-buttons-wrapper {
    width: 451px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 9px;
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-4xl);
    font-family: var(--font-roboto-mono);
  }
  .header,
  .logo-background-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .logo-background-parent {
    flex: 1;
    align-items: flex-end;
    padding: 0 18px var(--padding-12xs);
    position: relative;
    gap: 199px;
    text-align: center;
    font-size: var(--font-size-6xl);
    color: var(--color-white);
    font-family: var(--font-roboto);
  }
  .header {
    height: 156px;
    align-items: flex-start;
    padding: 0 0 var(--padding-25xl);
    top: 0;
    z-index: 99;
    position: sticky;
  }
  .dalle-2024-08-27-135312-a {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    left: 8px;
    top: 12px;
    transform: scale(1.22);
  }
  .wrapper-dalle-2024-08-27-1351 {
    height: 109px;
    width: 1284px;
    position: absolute;
    margin: 0 !important;
    right: -104px;
    bottom: -23px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  .entrena-con-vitalik {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    text-shadow: 20px 14px 4px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    z-index: 1;
  }
  .hero-content,
  .hero-description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .hero-description {
    flex: 1;
    position: relative;
  }
  .hero-content {
    width: 1171px;
    padding: 0 var(--padding-25xl);
    box-sizing: border-box;
    text-align: center;
  }
  .schedule-button {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--br-19xl);
    background-color: var(--color-yellowgreen);
  }
  .ver-horarios1 {
    margin: 0;
  }
  .ver-horarios {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    z-index: 1;
  }
  .group-2 {
    flex: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset,
      8px 9px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-lg-8) var(--padding-xl) var(--padding-4xs-2);
    box-sizing: border-box;
    position: relative;
    min-width: 269px;
    max-width: 100%;
    cursor: pointer;
  }
  .group-3-child {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--br-19xl);
    background-color: var(--color-yellowgreen);
  }
  .ver-horarios2 {
    position: relative;
    font-size: var(--font-size-21xl);
    font-family: var(--font-roboto);
    color: var(--color-white);
    text-align: left;
    z-index: 1;
  }
  .group-3 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lg-8) var(--padding-xl) var(--padding-4xs-2);
    background-color: transparent;
    flex: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset,
      8px 9px 8px rgba(0, 0, 0, 0.25);
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    min-width: 269px;
    white-space: nowrap;
  }
  .group-2-parent,
  .group-3,
  .schedule-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .group-2-parent {
    width: 847px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: var(--gap-lgi);
  }
  .schedule-buttons {
    width: 1097px;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .image-4-icon {
    position: absolute;
    height: 93.79%;
    width: 96.77%;
    top: 9.76%;
    right: 0.77%;
    bottom: -3.55%;
    left: 2.46%;
    border-radius: 8px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .imagen2 {
    height: 451px;
    flex: 1;
    position: relative;
    box-shadow: 7px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    min-width: 422px;
    max-width: 100%;
  }
  .atencin-personalizada,
  .entrenadores-certificados,
  .membresas-flexibles {
    margin-bottom: 0;
  }
  .entrenadores-certificados-aten {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 40px;
  }
  .entrenadores-certificados-aten-container {
    position: relative;
  }
  .trainer-description {
    flex-direction: column;
    justify-content: flex-start;
    padding: 144px 0 0;
    box-sizing: border-box;
    min-width: 500px;
  }
  .features,
  .schedule,
  .trainer-description,
  .trainers {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .trainers {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-lgi);
    font-size: 30px;
    color: var(--color-black);
    font-family: var(--font-roboto-mono);
  }
  .features,
  .schedule {
    justify-content: flex-start;
  }
  .schedule {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-24xl);
  }
  .features {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 66px 39px;
    box-sizing: border-box;
    font-size: var(--font-size-21xl);
  }
  .vitalik2 {
    margin: 0;
  }
  .vitalik1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    text-shadow: 12px 10px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .location-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-9xs);
  }
  .branches-background {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 15px 16px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25),
      0 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--br-19xl);
    background-color: var(--color-yellowgreen);
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
  }
  .sedes,
  .sedes1 {
    margin: 0;
  }
  .sedes {
    position: absolute;
    height: calc(100% - 20px);
    top: 10px;
    left: 87px;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    width: 137px;
    text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
  }
  .branches-background-parent {
    align-self: stretch;
    height: 72px;
    position: relative;
  }
  .location {
    width: 349px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 79px 0;
    box-sizing: border-box;
    gap: 5px;
    max-width: 100%;
    font-size: var(--font-size-26xl);
  }
  .image-2-icon {
    position: absolute;
    height: 81.55%;
    top: 9.32%;
    bottom: 9.13%;
    left: calc(50% - 312px);
    border-radius: 44px;
    max-height: 100%;
    width: 624px;
    object-fit: cover;
  }
  .iamgen1 {
    height: 515px;
    width: 744px;
    position: relative;
    box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.25);
    max-width: 100%;
  }
  .branch-image {
    width: 1174px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .branch-image,
  .content,
  .hero {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .hero {
    width: 1208px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 87px;
    text-align: left;
    font-size: 55px;
    color: var(--color-white);
    font-family: var(--font-roboto);
  }
  .content {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 19px;
    box-sizing: border-box;
  }
  .footer-separator {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 5px 4px 8.8px rgba(0, 0, 0, 0.25);
    background-color: var(--color-black);
  }
  .imagen-de-whatsapp-2024-08-091 {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .imagen-de-whatsapp-2024-08-091,
  .vitalik3 {
    align-self: stretch;
    position: relative;
  }
  .footer-info,
  .imagen-de-whatsapp-2024-08-09-group {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .imagen-de-whatsapp-2024-08-09-group {
    align-self: stretch;
    width: 105px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 var(--padding-10xs-6);
    gap: 8.2px;
    z-index: 1;
  }
  .footer-info {
    width: 886px;
    height: 104px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-12xs) 0 0;
    max-width: 100%;
  }
  .footer-background,
  .footer-background1 {
    height: 7px;
    background-color: var(--color-gainsboro);
    z-index: 1;
  }
  .footer-background {
    width: 886px;
    position: relative;
    max-width: 100%;
  }
  .footer-background1 {
    width: 995px;
    position: absolute;
    margin: 0 !important;
    bottom: 106px;
    left: 141px;
  }
  .siguenos {
    width: 135px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .follow-us {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 27px;
  }
  .contctenos,
  .ubicacin {
    position: relative;
    cursor: pointer;
  }
  .contctenos {
    flex: 1;
  }
  .ubicacin {
    width: 135px;
    display: inline-block;
    flex-shrink: 0;
  }
  .contact-info,
  .pie-de-pagina1 {
    display: flex;
    justify-content: flex-start;
  }
  .contact-info {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-31xl);
  }
  .pie-de-pagina1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 0 var(--padding-10xs);
    box-sizing: border-box;
    gap: 148px;
    height: 100%;
    z-index: 2;
  }
  .facebook-icon {
    height: 74px;
    width: 74px;
  }
  .facebook-icon,
  .instagram-circle-icon,
  .whatsapp-icon {
    position: relative;
    object-fit: cover;
    min-height: 74px;
    cursor: pointer;
  }
  .instagram-circle-icon {
    align-self: stretch;
    width: 80px;
    max-height: 100%;
  }
  .whatsapp-icon {
    height: 74px;
    width: 75px;
  }
  .redes,
  .redes1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .redes1 {
    background-color: var(--color-black);
    gap: 18px;
  }
  .redes {
    position: absolute;
    top: 41px;
    left: 38px;
    z-index: 3;
  }
  .footer-navigation {
    height: 211px;
    width: 332px;
    position: relative;
    max-width: 100%;
  }
  .footer-links,
  .pie-de-pagina {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .footer-links {
    width: 886px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 2px 0 0;
  }
  .pie-de-pagina {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 37px var(--padding-xl) 36px;
    position: relative;
    gap: 2px;
  }
  .macbook-pro,
  .pie-de-pgina {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .pie-de-pgina {
    align-self: stretch;
    flex-direction: row;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-6xl);
    color: var(--color-white);
    font-family: var(--font-roboto);
  }
  .macbook-pro {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    gap: var(--gap-6xl);
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .logo-background-parent {
      gap: 99px;
    }
    .hero-content {
      padding-left: var(--padding-3xl);
      padding-right: var(--padding-3xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .descubre-tu-mejor {
      display: none;
    }
    .entrena-con-vitalik {
      font-size: 44px;
    }
    .ver-horarios {
      font-size: 32px;
    }
    .entrenadores-certificados-aten-container {
      font-size: var(--font-size-5xl);
    }
    .trainer-description {
      flex: 1;
    }
    .trainers {
      flex-wrap: wrap;
    }
    .sedes,
    .vitalik1 {
      font-size: var(--font-size-17xl);
    }
  }
  @media screen and (max-width: 750px) {
    .login-parent {
      gap: var(--gap-xl);
    }
    .logo-background-parent {
      gap: var(--gap-31xl);
    }
    .imagen2,
    .trainer-description {
      min-width: 100%;
    }
    .schedule {
      gap: 21px;
    }
    .features {
      padding-bottom: 43px;
      box-sizing: border-box;
    }
    .hero {
      gap: var(--gap-24xl);
    }
  }
  @media screen and (max-width: 450px) {
    .logo-background-parent {
      gap: var(--gap-6xl);
    }
    .entrena-con-vitalik {
      font-size: 33px;
    }
    .ver-horarios {
      font-size: var(--font-size-5xl);
    }
    .entrenadores-certificados-aten-container {
      font-size: 18px;
    }
    .sedes,
    .vitalik1 {
      font-size: var(--font-size-8xl);
    }
    .hero {
      gap: 22px;
    }
    .contctenos,
    .siguenos,
    .ubicacin,
    .vitalik3 {
      font-size: var(--font-size-xl);
    }
    .contact-info {
      gap: var(--gap-6xl);
    }
    .pie-de-pagina1 {
      gap: 74px;
    }
    .pie-de-pagina {
      padding-top: 24px;
      padding-bottom: 23px;
      box-sizing: border-box;
    }
  }