/* Iniciar Sesión Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
    position: relative;
}

h2 {
    background-color: #7bc04b;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.submit-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    width: 48%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #388e3c;
}

.secondary-btn {
    background-color: #ccc;
    color: black;
    padding: 10px;
    width: 48%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.secondary-btn:hover {
    background-color: #bbb;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.form-logo {
    margin-top: 20px;
    width: 100px;
}